
.comment {
    display: flex;
    margin-top: 20px;
}

.comment-content {
    margin-left: 10px;
    padding: 18px;
    border-radius: 25px;
    background-color: #eee;
}

.comment-text {
    margin-left: 10px;
}