
.header {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    background: #4A90E2;
}

.header img{
    height: 30px;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 240px;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 220px;
}

.profile span {    
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
}