
.post {
    margin-top: 20px;
    background: #FFF;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px rgba(204,204,204,1);
}

.post-header {
    display: flex;
    text-align: left;
    padding: 10px;
}

.avatar {
    width: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.avatar img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.post-info {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.author{
    font-weight: bold;
    font-size: 18px;
    color: #333;
}

.post-info .created_at{
    font-size: 14px;
    color: #AAA;
}

.post-content {
    margin: 10px
}

.separator {
    height: 1px;
    background-color: #eee;
    border: none;
    margin: 10px;
}

.post-comments {
    margin: 10px;
}
